{% extends "base.html" %}

{% block content %}
<div class="about-me container">

  <section class="personal-info">
    <h2>个人信息</h2>
    <table>
      <tr><td><strong>姓名：</strong></td><td>XXX</td></tr>
      <tr><td><strong>性别：</strong></td><td>X</td></tr>
      <tr><td><strong>出生日期：</strong></td><td>20XX-XX-XX</td></tr>
      <tr><td><strong>联系方式：</strong></td><td>XXXXXXXXX@qq.com | XXXXXXXXXX</td></tr>
    </table>
  </section> 

  <section class="education">
    <h2>教育背景</h2>
    <ul>
      <li><strong>本科院校：</strong>苏州大学（2021-2025）<strong> 专业：</strong>化学</li>
    </ul>
  </section>

  <section class="research">
    <h2>研究经历</h2>
  </section>

  <section class="experience">
    <h2>实践经历</h2>
  </section>

  <section class="skills">
    <h2>技能</h2>
  </section>

  <section class="hobbies">
    <h2>兴趣 & 证书</h2>
  </section>

  <section class="self-evaluation">
    <h2>自我评价</h2>
  </section>

</div>
{% endblock %}