# Python 缓存文件
__pycache__/
*.py[cod]

# 构建生成文件（例如 whl 包可能位于 dist/ 目录）
myenv/
build/
dist/
*.egg-info/
*.whl

# 编辑器相关设置
.vscode/

# 日志和临时文件
updatelog.md
*.log
*.tmp
*.zip

#*.txt
# macOS 系统文件
.DS_Store

# instance
instance/

# 我的配置文件
Settings/visible_albums.json
version_log.md

#migration
migrations/

#开发附件
Neibr/neibr/*
Blog/posts/*
Edu/notes/*
Gallery/galleries/**/*
Index/dynamic_pages/*
#deploy.sh