# 默认忽略所有内容，按需添加白名单
/*

# 保留根目录中的必要文件
!.gitignore
!/benlog.sh
!/readme
!/requirements.txt

# 保留的业务目录，仅上传 Python 与模板文件
!/Benlog/
Benlog/*
!Benlog/*.py
!Benlog/templates/
!Benlog/templates/**
!Benlog/static/
!Benlog/static/**

!/Blog/
Blog/*
!Blog/*.py
!Blog/templates/
!Blog/templates/**

!/Edu/
Edu/*
!Edu/*.py
!Edu/templates/
!Edu/templates/**

!/Gallery/
Gallery/*
!Gallery/*.py
!Gallery/templates/
!Gallery/templates/**

!/Index/
Index/*
!Index/*.py
!Index/templates/
!Index/templates/**

!/Neibr/
Neibr/*
!Neibr/*.py
!Neibr/templates/
!Neibr/templates/**

!/Settings/
Settings/*
!Settings/*.py
!Settings/templates/
!Settings/templates/**

