<!DOCTYPE html>
<html lang="en">
  <script>
  (function() {
    const theme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-theme', theme);
  })();
  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title if title else "My Personal Site" }}</title>
</head>
<body>
  <canvas id="universe"></canvas>
  {% block nav %}
  <header>
    <nav>
      <a href="{{ url_for('index.home') }}" class="navbar-brand">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
      </a>

      <a href="{{ url_for('blog.list_posts') }}">Blog</a>
      <a href="{{ url_for('edu.list_notes') }}">Education</a>
      <a href="{{ url_for('neibr.index') }}">Neibr</a>

      <!-- 黑白主题切换按钮 -->
      <button id="theme-toggle">🌙</button>
      <a href="{{ url_for('setting.index') }}" id="settings-button" title="设置页">⚙️</a>
      <a href="{{ url_for('gallery.index') }}">🖼️</a>
    </nav>
  </header>
  {% endblock %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>
  {% block script %}{% endblock %}

  <script defer src="{{ url_for('static', filename='js/theme-toggle.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
  <script defer src="{{ url_for('static', filename='js/pseudo-bg.js') }}"></script>
  <script defer src="{{ url_for('static', filename='js/clickimg.js') }}"></script>
  <script>
    MathJax = {
      tex: {
        packages: {'[+]': ['mhchem']}
      }
    };
    </script>
    <script type="text/javascript" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</body>
</html>
